ion-content {
  .section {
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: #fff;

    &.ion-page, &.show-page {
      --ion-background-color: transparent;
    }

    &.ion-page {
      --background: transparent;
    }

    &.show-page {
      --background: transparent;
    }

    &.show-decorator {
      --background: transparent;
    }

    &#section1 {
      background-image: url('http://www.image-heberg.fr/files/17124534321714248267.png');
    }

    &#section2 {
      background-image: url('https://i.imgur.com/H8q2cCY.jpeg');
    }

    &#section3 {
      background-image: url('http://www.image-heberg.fr/files/1712453505575989620.png');
    }

    .container {
      text-align: center;
      padding: 0 0px;

      strong {
        font-size: 24px;
        margin-bottom: 0px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}
.title {
  font-size: 10rem; /* Ajustez la taille de la police du titre */
  font-weight: bold; /* Rendre le titre en gras */
  margin-bottom: 20px; /* Espace entre le tistre et le slogan */
}

.slogan {
  font-size: 5rem; /* Ajustez la taille de la police du slogan */
  margin-bottom: 20px; /* Espace entre le slogan et le bouton */
}

.play-button {
  --border-radius: 20px; /* Ajustez le rayon de la bordure du bouton */
  --color--background: rgba(88, 62, 150, 0.795); /* Ajustez la couleur de fond du bouton */
  font-size: 3rem; /* Ajustez la taille de la police du bouton */
  padding: 20px 30px; /* Ajustez les rembourrages horizontaux et verticaux du bouton */
}