/* role-card.component.scss */
.role-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  h2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    color: #555;
  }
}
.chatbox-night {
  background: rgba(0, 0, 0, 0.8); /* Dark background for the chatbox */
  color: #ffffff; }