<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loup Garou Game</title>
</head>
<body>
    <h1>Loup Garou Game</h1>
    <label for="wolvesNb">Nombre de Loups-Garous:</label>
    <input type="number" id="wolvesNb" name="wolvesNb" min="1" value="2"><br><br>
    <label for="villagersNb">Nombre de Villageois:</label>
    <input type="number" id="villagersNb" name="villagersNb" min="3" value="5"><br><br>
    <label for="userRole">Votre Rôle (wolf/villager):</label>
    <input type="text" id="userRole" name="userRole"><br><br>
    <label for="votePlayer">Joueur à Voter:</label>
    <input type="text" id="votePlayer" name="votePlayer"><br><br>
    <label for="voteReason">Raison du Vote:</label>
    <input type="text" id="voteReason" name="voteReason"><br><br>
    <button onclick="lancerPartie()">Lancer Partie</button>
    <button onclick="jouer()">Jouer</button>
    <div id="result1">result 1 ::</div>
    <div id="result2">result 2 ::</div>

    <script src="app.js"></script>
    <script>

        function lancerPartie() {
            const wolvesNb = Number(document.getElementById('wolvesNb').value);
            const villagersNb = Number(document.getElementById('villagersNb').value);
            const userRole = document.getElementById('userRole').value;
            
            fetch('/lancer_partie', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ wolvesNb, villagersNb, userRole}),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result1').innerText = data.output;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function jour_suivant() {
            const votePlayer = document.getElementById('votePlayer').value;
            const voteReason = document.getElementById('voteReason').value;

            fetch('/jouer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({votePlayer, voteReason }),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result2').innerText = data.output_answer;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function jouer() {
            const votePlayer = document.getElementById('votePlayer').value;
            const voteReason = document.getElementById('voteReason').value;

            fetch('/jouer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({votePlayer, voteReason }),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result2').innerText = data.output_answer;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>

